* {
    margin: 0;
    padding: 0;
}

.container {    
    display: flex;

    width: 100vw;
    height: 100vh;
}

main {
width: 70vw;
height: 100vh;
background-color: bisque;
}

aside   {
    
width: 30vw;
height: 100vh;
background-color: aqua;
}